$charity-phone: "/assets/images/charity/charity-phone.png";
$charity-bg: '/assets/images/charity/charity-bg.png';
$quoutes: '/assets/images/quoutes.svg';
$underline: '/assets/images/underline-big.png';

.charity-inner-container{
background: #fff;
}

#ngCarousel{
width: 100%;
}

#ngCarousel-conten{
    box-shadow: none;
}

.image-family{
    margin: auto;
    width: 85%;
}

.achivment-wrapper{
    position: relative;
    padding-bottom: 5%;
    .absolute__container-achivment{
        position: absolute;
        background: #fff;
        bottom: 5%;
        left: 1%;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        padding: 1rem;
        span{
            color: #d4002d ;
            font-size: 20px;
        }
    } 
}

.charity-container__title{
    padding: 0 5%  ;
    h3{
        font-weight: bold;
        background: url($underline) no-repeat;
        background-size: 80% 20%;
        background-position-x: 100%;
        background-position-y: 88%;
        display: inline-block;
        font-size: 48px;
        margin-bottom: 0;
        text-transform: unset;
        transition: all .3s;
        animation: title 2s linear;
    }
}

.charity-container__text{
    padding: 0 5%  ;
}

.btn_be-part-of {
   color: inherit;
   border: 1px solid #000;
   padding: .3rem 2rem;
   border-radius: 3px;
   margin: auto;
   text-transform: uppercase;
   font-size: 12px;

   &:hover {
       text-decoration: none;
   }
}

.charity-container {
    color: #252539;
    background: linear-gradient(0deg, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), url($charity-bg), #fff;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding: 7% 0;

    .charity-header {
        width: 100%;
        height: 10%;
        text-transform: uppercase;
        text-align: center;
        position: relative;

        span {
            position: relative;
        }

        h2 {
            display: inline-block;
            z-index: 1;

            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                width: 96%;
                height: 10px;
                background: red;
                right: -17px;
                bottom: 2px;
                z-index: 0;
            }
        }
    }

    .charity-container__option {
        position: relative;
        border-radius: 7px;
        padding: 1rem;
        margin: 10% 0;

        &:first-child {
            background: transparent;
            margin: 0;
        }

        &:last-child {
            background: #000;
            color: #fff;

            &::after {
                content: "";
                display: inline-block;
                background: #000;
                width: 15px;
                height: 15px;
                position: absolute;
                right: -15px;
                top: 20px;
                clip-path: polygon(0 100%, 0 0, 100% 0);
            }
        }
    }

    .charity-container__wrapper {
        position: absolute;
        height: 420px;
        bottom: 0;
        right: 2%;
        background: url($charity-phone);
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 0;
        background-size: cover;
        padding-top: 9%;
        max-width: 430px;

        .container-phone {
            width: 85%;
            margin: auto;
            text-align: center;
            background: none;
            a {
                display: inline-block;
                color: #252539;
                padding: 1rem 1.5rem;
                width: 100%;
                -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                border-radius: 9px;
                margin: .5rem 0;
                transition: all .3s;

                &:hover {
                    background: red;
                    color: #fff;
                    text-decoration: none;
                }
            }

            input {
                width: 100%;
                border: none;
                background: #f4f4f7;
                height: 3rem;
                padding: 0 1rem;
                border: none;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .charity-container__charity-phone {
        position: absolute;
        height: 60%;
        bottom: 0;
        right: 10%;
    }
}

.charity-inner-container__slider{
    img{
        width: 100%;
    }
}
.facts {
    // background: url($quoutes) 0% 0% no-repeat, url($quoutes) 100% 100% no-repeat;
    width: 100%;
    padding: 2% 0;
    position: relative;

    p {
        margin-bottom: 0;
        padding: 0 10%;
        text-align: center;
        font-size: 22px;
        font-weight: bold;

        &::after {
            content: "";
            display: inline-block;
            width: 35px;
            height: 35px;
            background: url($quoutes);
            background-size: contain;
            transform: rotate(180deg);
            position: absolute;
            top: 10px;
            left: 40px;
        }

        &::before {
            content: "";
            display: inline-block;
            width: 35px;
            height: 35px;
            background: url($quoutes);
            background-size: contain;
            position: absolute;
            bottom: 10px;
            right: 40px;
        }
    }
}