@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


@font-face{
    src: url(./assets/fonts/Circe-Regular_0.ttf);
    font-family: CircleRegular;
}

@font-face{
    src: url(./assets/fonts/Circe-Bold_0.ttf);
    font-family: CircleBold;
}
h1,h2,h3,h4,h5 {
    font-family: CircleBold;
}

p, span {
    font-family: CircleRegular; 
}


body {
    margin: 0;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 4px;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: none;
    background-color: rgba(175, 25, 29, .8);
}

*::-webkit-scrollbar {
    -webkit-box-shadow: none;
    border-radius: 4px;
    background-color: rgba(175, 25, 29, .8);
    width: 10px;
}



.ngucarousel-items {
 
    
    .tile {
        box-shadow: unset !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
       
    }

    .leftRs {
        top: 45%;
        left: 20%;
        border-radius: 50%;
        position: absolute;
    }

    .rightRs{
        top: 45%;
        right: 20%;
        border-radius: 50%;
        position: absolute;
    }


}

@keyframes title {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

.hide-nav{
    width: 0% !important;
}

.hide-menu{
    width: 100% !important;
}