$chevron: "/assets/images/archive/chevron.png";
$underline: '/assets/images/underline-big.png';

.archive-container {
    .archive__bear {
        position: absolute;
        top: 25%;
        right: 0;
        z-index: 10;
        transition: all .3s;
        animation: bear 1s ;
    }

    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url(),
    #f7f7fa;

    .archive-header {
        width: 100%;
        height: 10%;
        text-align: center;
        position: relative;
    }

    span {
        position: relative;
    }

    h2 {
        font-weight: bold;
        background: url($underline) no-repeat;
        background-size: 80% 30%;
        background-position-x: 100%;
        background-position-y: 88%;
        display: inline-block;
        font-size: 48px;
        margin-bottom: 0;
        text-transform: unset;
        transition: all .3s;
        animation: title 2s;

    }

    .archive-content {
        a {
            color: unset;

            &:hover {
                text-decoration: none;
            }
        }

        text-align: right;

        .archive-container-article {
            text-align: left;
            padding: 4%;
            margin: auto;
            margin-right: 0;
            background: url($chevron) 95% 50% no-repeat, #fff;
            margin-bottom: 6%;
            width: 80%;

            p {
                span {
                    color: #969697;
                }

                &:first-child {
                    color: #000;
                }
            }

            P {
                color: #969697;
            }
        }

        .archive-mobile {
            text-align: left;
        }
    }

}


@keyframes bear {
    from{
        right: -30%;
    }
    to{
        right: 0%;
    }
}
