

<div class="archive-container"  wheelOn="integer">
    <div class="archive-header">
        <span>
            <h2>
                Архив </h2>
        </span>
    </div>
    <div class="archive-content">
        <img src="{{ bear }}" alt="" class="archive__bear">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <a >
                    <div class="archive-container-article">
                        <p>Истории <span>пятница - 10:14</span></p>
                        <h3>Сила девочек: яркая и неудержимая</h3>
                        <p> История алматинской школьницы, покоряющей Кремниевую долину и выступающей за предоставление
                            возможностей для молодежи</p>
                    </div>
                </a>
                <a  >
                    <div class="archive-container-article">
                        <p>Истории <span>пятница - 10:14</span></p>
                        <h3>Сила девочек: яркая и неудержимая</h3>
                        <p> История алматинской школьницы, покоряющей Кремниевую долину и выступающей за предоставление
                            возможностей для молодежи</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 archive-mobile">
                <img src="{{ archivePhoto }}" alt="" srcset="">
            </div>
        </div>
    </div>
</div>