$slide1: '/assets/images/about/about-slide1.png';
$slide2: '/assets/images/about/about-slide2.png';
$slide3: '/assets/images/about/about-slide3.png';
$slide4: '/assets/images/about/about-slide4.png';
$slide5: '/assets/images/about/about-slide5.png';
$slide6: '/assets/images/about/about-slide6.png';
$slide7: '/assets/images/about/about-slide7.png';

$underline: '/assets/images/underline.png';
$ball: '/assets/images/about/about-inner/ballons.png';

.about-container {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 1200px;
    overflow: hidden;
    background: #fff;
    color: #fff;
    h5 {
        font-weight: bold;
        background: url($underline) no-repeat;
        background-position-x: 52%;
        background-position-y: 88%; 
        display: inline-block;
        margin-bottom: 0;
        z-index: 2;
        transition: all .3s;
        animation: title 2s;
    }
    .slide1{
       height: 105%;
       background-image: url($slide1);
       background-size: cover;
       background-repeat: no-repeat;
       margin-top: -2%;
       padding-top: 10%;

    }
    .slide2{
        height: 105%;
        background: url($slide2);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -2%;
        padding-top: 10%;

    }
    .slide3{
        height: 105%;
        background: url($slide3);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -2%;
        padding-top: 10%;

    }
    .slide4{
        height: 105%;
        background: url($slide4);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -2%;
        padding-top: 10%;

    }
    .slide5{
        height: 105%;
        background: url($slide5);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -2%;
        padding-top: 10%;

    }
    .slide6{
        height: 105%;
        background: url($slide6);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -2%;
        padding-top: 10%;

    }
    .slide7{
        height: 105%;
        background: url($slide7);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -2%;
        padding-top: 10%;

    }


    h5 {
        width: 100%;  
        margin: auto;
        text-align: center;
        margin-top: 2%;
        font-size: 30px;
    }
    span {
        display: block;
        width: 50%;  
        margin: auto;
        text-align: center;
        margin-bottom: 5%;
    }

    .about__region {
        font-size: 27px;
        width: 50%;
        margin: auto;
        text-align: center;
    }
    .about__desc{
        width: 60%;
        margin: auto; 
        text-align: center;
    }


    

}

.fotorama__thumb-border{
    border-color: transparent !important;
}



.fotorama__nav__frame--thumb:nth-child(1) .fotorama__thumb {
    background-image: url($slide1)!important ;
    background-size: cover;
    background-repeat: no-repeat;
 }
 .fotorama__nav__frame--thumb:nth-child(2)  .fotorama__thumb{
    background-image: url($slide1)!important;
    background-size: cover;
    background-repeat: no-repeat;
}
.fotorama__nav__frame--thumb:nth-child(3) {
    background-image: url($slide1);
    background-size: cover;
    background-repeat: no-repeat;
}
.fotorama__nav__frame--thumb:nth-child(4) {
    background-image: url($slide1);
    background-size: cover;
    background-repeat: no-repeat;
}
.fotorama__nav__frame--thumb:nth-child(5) {
    background-image: url($slide1);
    background-size: cover;
    background-repeat: no-repeat;
}
.fotorama__nav__frame--thumb:nth-child(6) {
    background-image: url($slide1);
    background-size: cover;
    background-repeat: no-repeat;
}
.fotorama__nav__frame--thumb:nth-child(7) {
    background-image: url($slide1);
    background-size: cover;
    background-repeat: no-repeat;
}



#classLink{
    display: inline-block;
    width: 90%;
    height: 64%;
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 999;
}