<div class="about-container" wheelOn="integer">
    <a id="classLink" routerLink="/home/about/about-inner"></a>
    <div class="fotorama" data-nav="thumbs" data-width="100%" data-height="100%" data-arrows="false"
        data-thumbwidth="160" data-thumbheight="160">
        <div class="slide1" data-thumb="/assets/images/about/about-slide1.png">
            <a routerLink="/home/about/about-inner">
                <h5>О нас</h5>
            </a>
            <span>The people, the rainforest, the Church</span>
            <p class="about__region">Деятельность Caritas в Казахстане</p>
            <p class="about__desc">Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ как
                в Казахстане, так и
                во всем мире. Это означает защиту права детей для выживания, развития и полной реализации потенциала в
            </p>
            <!-- <img src="{{ slide1 }}"> -->
        </div>
        <div class="slide2" data-thumb="/assets/images/about/about-slide2.png">
            <a routerLink="/home/about/about-inner">
                <h5>О нас</h5>
            </a>
            <span>The people, the rainforest, the Church</span>
            <p class="about__region">Деятельность Caritas в Казахстане</p>
            <p class="about__desc">Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ как
                в Казахстане, так и
                во всем мире. Это означает защиту права детей для выживания, развития и полной реализации потенциала в
            </p>

            <!-- <img src="{{ slide2 }}"> -->
        </div>
        <div class="slide3" data-thumb="/assets/images/about/about-slide3.png">
            <a routerLink="/home/about/about-inner">
                <h5>О нас</h5>
            </a>
            <span>The people, the rainforest, the Church</span>
            <p class="about__region">Деятельность Caritas в Казахстане</p>
            <p class="about__desc">Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ как
                в Казахстане, так и
                во всем мире. Это означает защиту права детей для выживания, развития и полной реализации потенциала в
            </p>


            <!-- <img src="{{ slide3 }}"> -->
        </div>
        <div class="slide4" data-thumb="/assets/images/about/about-slide4.png">
            <a routerLink="/home/about/about-inner">
                <h5>О нас</h5>
            </a>
            <span>The people, the rainforest, the Church</span>
            <p class="about__region">Деятельность Caritas в Казахстане</p>
            <p class="about__desc">Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ как
                в Казахстане, так и
                во всем мире. Это означает защиту права детей для выживания, развития и полной реализации потенциала в
            </p>
            <!-- <img src="{{ slide4 }}"> -->
        </div>
        <div class="slide5" data-thumb="/assets/images/about/about-slide5.png">
            <a routerLink="/home/about/about-inner">
                <h5>О нас</h5>
            </a>
            <span>The people, the rainforest, the Church</span>
            <p class="about__region">Деятельность Caritas в Казахстане</p>
            <p class="about__desc">Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ как
                в Казахстане, так и
                во всем мире. Это означает защиту права детей для выживания, развития и полной реализации потенциала в
            </p>
            <!-- <img src="{{ slide5 }}"> -->
        </div>
        <div class="slide6" data-thumb="/assets/images/about/about-slide6.png">
            <a routerLink="/home/about/about-inner">
                <h5>О нас</h5>
            </a>
            <span>The people, the rainforest, the Church</span>
            <p class="about__region">Деятельность Caritas в Казахстане</p>
            <p class="about__desc">Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ как
                в Казахстане, так и
                во всем мире. Это означает защиту права детей для выживания, развития и полной реализации потенциала в
            </p>
            <!-- <img src="{{ slide6 }}"> -->
        </div>
        <div class="slide7" data-thumb="/assets/images/about/about-slide7.png">
            <a routerLink="/home/about/about-inner">
                <h5>О нас</h5>
            </a>
            <span>The people, the rainforest, the Church</span>
            <p class="about__region">Деятельность Caritas в Казахстане</p>
            <p class="about__desc">Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ как
                в Казахстане, так и
                во всем мире. Это означает защиту права детей для выживания, развития и полной реализации потенциала в
            </p>
            <!-- <img src="{{ slide7 }}"> -->
        </div>
    </div>
</div>