<div class="contacts-inner-container">
    <div class="container">
        <div class="row">
            <div class="contacts-container__title">
                
                <h3>Контакты</h3>
                
            </div>
        </div>
        <div class="row contacts-container__address--padding">
            <div class="col-sm-4">
                <div class="contacts-container__title">
                    <p><span> Адресс </span></p>
                    <p class="contacts-container__title--redline">г. Нур-Султан, ул. Кенесары 72</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contacts-container__title">
                    <p><span> Телефон </span></p>
                    <p class="contacts-container__title--redline">+7 900 231 00 90</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contacts-container__title">
                    <p><span> E-mail </span></p>
                    <p class="contacts-container__title--redline">info@mail.ru</p>
                </div>
            </div>
            <div class="col-sm-12">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19552.209420897885!2d76.9334021957793!3d43.24192026022259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836ee31c97e51f%3A0xfecb868752f516a9!2sCentral%20State%20Museum%20of%20the%20Republic%20of%20Kazakhstan!5e0!3m2!1sen!2skz!4v1574332240730!5m2!1sen!2skz"
                    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="legal-info">
                    <h2>Реквизиты компании:</h2>
                    <p>ОГРН 1089848059366</p>
                    <p> ОКПО 89041828</p>
                    <p> ОКАТО 40278562000</p>
                    <p>ИНН 7842399004</p>
                    <p>КПП 780601001</p>
                    <p>Р/С 40702810124000011658</p>
                    <p>БИК 044525976</p>
                    <p>К/С 30101810500000000976</p>

                    <p>Банк: АКБ "АБСОЛЮТ БАНК" (ПАО)</p>
                    <p>(127051, Г. МОСКВА, ЦВЕТНОЙ Б-Р,18, ИНН 7736046991, КПП 770201001)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form action="">
                    <div class="contacts-inner-container__submitQ">

                        <h2>Есть вопросы? Пишите нам</h2>
                        <p>Ответим в ближайшее время на все ваши вопросы</p>
                        <div class="input-wrapper">
                            <input class="input-info1" type="text" placeholder="Ваше имя"> <input class="input-info2"
                                type="text" placeholder="Ваш e-mail">
                        </div>
                        <textarea placeholder="Введите ваш вопрос" name="" id="" cols="30" rows="1"></textarea>
                        <a href="">отправить</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>