$mapSubscr: '/assets/images/contacts/contacts-inner/envelope.png';
$underline:'/assets/images/underline.png';
.contacts-inner-container {
 background: #fff;
    .contacts-container__title {
        padding: 0 5%;
        padding-top: .5rem;
        margin-bottom: .5rem;
        h3{
            display: inline-block;
            width: 105%;
            background: url($underline);
            background-repeat: no-repeat;
            background-position-x: right;
            background-position-y: 89%;
            margin-bottom: 15%;
            font-size: 2rem
        }
        p{
            
            margin-bottom: 0;
            &:first-child{
                color: #bfbfbf;
            }
           
        }
        .contacts-container__title--redline{
            padding-left: 1rem;
            position: relative;
            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                left: -12px;
                top: 50%;
                width: 20px;
                height: 2px;
                background: #d4002d ;
            }
        }
    }

    .legal-info {
        padding: 0 5%;
        margin-bottom: 1rem;
        text-transform: uppercase;
        h2{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        p{
            margin-bottom: 0;

            &:nth-child(3){
                margin-bottom: 1rem;
            }
            &:nth-child(8){
                margin-bottom: 1rem;
            }
        }
    }

    .contacts-container__address--padding {
        padding: 0 2%;
    }
}

.contacts-inner-container__submitQ {
    background: #b5e5f9;
    background-image: url($mapSubscr);

    background-position-x: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4% 35% 4% 4%;
    margin: 2rem;
    text-align: left;

    h2 {
        width: 100%;
    }

    input {
        width: 49%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #000;
        display: inline-block;
        margin:  auto;
        padding: 0 1rem ;
        padding-top:1rem ;
        padding-bottom: .5rem ;
        &:focus{
            outline: none;
        }
    }

    .input-wrapper{
        display: flex;
        justify-content: flex-start;
        
    }

    textarea {
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #000;
        resize: none;
        padding: 0 1rem ;
        padding-top:1rem ;
        padding-bottom: .5rem ;
        &:focus{
            outline: none;
        }
    }

    a {
        text-transform: uppercase;
        padding: .3rem 2rem;
        background: #fff;
        color: inherit;
        padding: .8rem 3rem;
        display: inline-block;
        border-radius: 4px;
        margin-top: 5%;
        font-size: 12px;
        font-weight: bold;

        &:hover{
            text-decoration: none;
        }
    }
}

