$underline: '/assets/images/underline.png';

.projects-inner-container{
    height: 100%;
    background: #fff;
}
.projects-inner-container__title{
    padding: 0 5%;
    h3 {
        font-weight: bold;
        background: url($underline) no-repeat;
        background-position-x: 100%;
        background-position-y: 88%;
        display: inline-block;
        font-size: 42px;
        margin-bottom: 0;
    }
}
.projects-inner-container__body{
    a{
        color: inherit;
        &:hover{
            text-decoration: none;
        }
    }
    padding: 0 5%;
    img{
        width: 100%;
        max-height: 220px;
    }
    p{
        text-align: center;
        font-weight: bold;
    }
   

    .projects-inner-container__body__title{
        text-align: left;
    }
}