<div class="projects-inner-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="projects-inner-container__title">
                    <h3>Проекты</h3>
                    <p>Our mission is based on nine core principles of Catholic Social Teaching</p>
                </div>
            </div>
        </div>
        <div class="projects-inner-container__body">
            <div class="row">
                <div class="col-sm-12">
                    <p class="projects-inner-container__body__title">Основные проекты</p>
                </div>
                <div class="col-sm-3">
                    <a  routerLink="./project">
                        <img src="{{ proj1 }}" alt="proj1">
                        <p>{{  proj1Title | uppercase }}</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a  routerLink="./project">
                        <img src="{{ proj2 }}" alt="proj1">
                        <p>{{  proj1Title | uppercase }}</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a  routerLink="./project">
                        <img src="{{ proj3 }}" alt="proj1">
                        <p>{{  proj1Title | uppercase }}</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a  routerLink="./project">
                        <img src="{{ proj4 }}" alt="proj1">
                        <p>{{  proj1Title | uppercase }}</p>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a  routerLink="./project">
                        <img src="{{ proj5 }}" alt="proj1">
                        <p>{{  proj1Title | uppercase }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>