<div class="menuLang-absolute">
    <a >RU</a>
    <a >KZ</a>
    <a >EN</a>
    <!-- <a  id="menu-toggle" routerLinkActive="active">
        <div></div>
    </a> -->
</div>
<div class="navigation-wrapper">

    <div class="container-fluid">
        <div class="navigation-wrapper__logo">
            <a routerLink="" routerLinkActive="active">
                <img src="{{ logoSrc }}" alt="caritas-logo.png">
            </a>
        </div>
        <div class="navigation-wrapper__list">

            <div class="col-sm-12 px-0">
                <a routerLink="about/about-inner" routerLinkActive="active" class="text1">О нас</a>
            </div>
            <div class="col-sm-12 px-0">
                <a routerLink="map" routerLinkActive="active" class="text2">Где мы</a>
            </div>
            <div class="col-sm-12 px-0">
                <a routerLink="projects/projects-inner" routerLinkActive="active" class="text3">Наши проекты</a>
            </div>
            <div class="col-sm-12 px-0">
                <a routerLink="news/news-inner" routerLinkActive="active" class="text4">Новости</a>
            </div>
            <div class="col-sm-12 px-0">
                <a routerLink="charity/charity-inner" routerLinkActive="active" class="text5">Как помочь</a>
            </div>
            <div class="col-sm-12 px-0">
                <a routerLink="archive" routerLinkActive="active" class="text6">Архив</a>
            </div>
            <div class="col-sm-12 px-0">
                <a routerLink="contacts/contacts-inner" routerLinkActive="active" class="text7">Контакты</a>
            </div>

        </div>
        <div class="navigation-wrapper__socials-container">
            <img src="{{ instagram }}" alt="instagram">
            <img src="{{ facebook }}" alt="facebook">
            <img src="{{ twitter }}" alt="twitter">
            <img src="{{ youtube }}" alt="youtube">
        </div>
    </div>
</div>
<!-- <div id="hidden-target">
        <a routerLink="home/welcome"></a>
        <a routerLink="home/about"></a>
        <a routerLink="home/map"></a>
        <a routerLink="home/projects"></a>
        <a routerLink="home/news"></a>
        <a routerLink="home/charity"></a>
        <a routerLink="home/archive"></a>
        <a routerLink="home/contacts"></a>
    </div> -->