.navigation-wrapper {
    font-family: "circleExtraBold";

    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    .navigation-wrapper__logo {
        position: fixed;
        padding-left: 2.5%;
        padding-top: 2%;

        img {
            height: 60px;
            width: 65px;
            margin-top: 11%;
            margin-bottom: 22%;


        }
    }

    position: relative;
    height: 100vh;

    .navigation-wrapper__list {
        position: fixed;
        top: 20%;
        width: 13%;

        a {
            color: inherit;
            height: 8vh;
            display: inline-block;
            padding-left: 15%;
            text-transform: uppercase;
            width: 100%;

            &:hover {
                text-decoration: none;
            }
        }
    }


    .navigation-wrapper__socials-container {
        display: flex;
        justify-content: space-around;
        position: fixed;
        width: 13%;
        margin: auto;
        bottom: 10%;
        padding: 0 1%;

        img {
            cursor: pointer;
            filter: opacity(0.5);
            transition: all .5s;

            &:hover {
                filter: opacity(1);
            }

            &:nth-child(1) {
                width: 16px;
                height: 15px;
                animation: socials 1s linear;
            }

            &:nth-child(2) {
                width: 8px;
                height: 15px;
                animation: socials 1.5s linear;
            }

            &:nth-child(3) {
                width: 16px;
                height: 15px;
                animation: socials 2s linear;
            }

            &:nth-child(4) {
                width: 21px;
                height: 15px;
                animation: socials 3s linear;
            }
        }
    }

    .wrapper-mission {}

}


@keyframes socials {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}


.menuLang-absolute {
    display: inline-block;
    position: fixed;
    z-index: 2;
    top: 15px;
    right: 3%;
    width: 11%;
    height: 5%;
    color: #4e4e4e;
    font-weight: bold;
    a {
        margin: auto;
        display: inline-block;
        color: #d4002d;
        margin-right: 8px;
        &:hover{
            text-decoration: none;
        }
    }

    #menu-toggle {
        display: inline-block;
        position: absolute;
        width: 30%;
        height: 100%;
        top: 3%;
    right: 3%;
        div {
            display: inline-block;
            width: 33px;
            height: 1px;
            position: fixed;
            background: #d4002d;
            top: 27px;
            right: 4%;
            transition: all .5s ease !important;
            &::before {
                content: "";
                display: inline-block;
                transition: all .5s ease !important;
                width: 33px;
                height: 1px;
                position: fixed;
                background: #d4002d;
                top: 19px;
                right: 4%;
            }

            &::after {
                content: "";
                display: inline-block;
                transition: all .5s ease !important;
                width: 33px;
                height: 1px;
                position: fixed;
                background: #d4002d;
                top: 35px;
                right: 4%;
            }
        }

      
    }
}


.menu-close{
    div{
       background: transparent !important;
        &::before{
            transform: rotate(45deg) !important;
            top: 27px !important;
        }
        &::after{
            transform: rotate(-45deg) !important;
            top: 27px !important;
        }
    }
    
}


