
p{
font-size: 18px;
}

html {
 overflow: hidden;
}

.global__container {
    display: block;
    // overflow: hidden;
    height: 100vh;
    .global__container__menu {
        display: inline-block;
        text-align: left;
        width: 15%;
        height: 100%;
        transition: all .3s;
        // box-shadow: 0 0 8px rgba(0, 0, 0, 1);
        // filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.35));
    }
    .global__container__content {
        transition: all .3s;
        position: relative;
        display: inline-block;
        width: 85%;
        overflow: hidden;
    }

   
   

   
 }

 .fotorama__thumb-border{
    border-width: 0px !important;
 }

 
