<div class="global__container">
  <div class="container-fluid" id="scroll">
    <div class="row">
      <div class="global__container__menu">
        <app-navigation></app-navigation>
      </div>
      <div class="global__container__content" [@routeAnimations]="prepareRoute(outlet)">
          <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>
