$mapSubscr: '/assets/images/map/subscribtion.png';

$underline: '/assets/images/underline.png';
$ball: '/assets/images/about/about-inner/ballons.png';

.map-container {

    height: 100vh;
    position: relative;

    .map-container__absolute-title {
        background: transparent;
        position: absolute;
        font-weight: bold;
       
        display: inline-block;
        margin-bottom: 0;
        
        z-index: 2;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0%);
        h2{
            font-size: 42px;
            width: 110%;
            background: url($underline) no-repeat;
            background-position-x: 100%;
            background-position-y: 88%;
            transition: all .3s;
            animation: title 2s;
        }
    }

    img {
        width: 100%;
        height: 100%;
    }


    .map-container__absolute-sub {
        position: absolute;
        height: 230px;
        width: 100%;
        bottom: 0;
        z-index: 2;
        background: #b5e5f9;
        background-image: url($mapSubscr);
        background-position-x: 100%;
        padding-left: 7%;
        padding-top: 1%;
        animation: sub 2s ;

        a {
            background: #fff;
            padding: 1rem 2rem;
            border-radius: 7px;
            color: inherit;
            font-weight: bold;
            display: inline-block;
            margin-top: 2%;
        }

        h2 {
            width: 65%;
        }
    }
}

@keyframes sub {
    0%{
        transform: translateY(105%);
    }
    50%{
        transform: translateY(105%);
    }
    100%{
        transform: translateY(0%);
    }
}