<div class="map-container"  wheelOn="integer">
<div class="map-container__absolute-title">
    <h2>
        Где мы
    </h2>
</div>

<img src="{{ mapPng }}" alt="">

<div class="map-container__absolute-sub">

    <h2>
            Первым узнавайте самые важные новости 
            о наших подопечных
    </h2>
    <p>Подпишитесь на рассылку фонда и получайте отчеты о переводах средств детям</p>

    <a >подписаться</a>
</div>
</div>


