<div class="news-inner-container">
    <div class="container">
        <div class="row">
            <div class="news-inner-container__title">
                <h3>Новости</h3>
                <p>Our mission is based on nine core principles of Catholic Social Teaching</p>
            </div>
        </div>
        <div class="row">
            <div class="news-inner-container__tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Казахстан</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Мир</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-sm-6 waterfall-first">
                                <div class="news-card">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard1 }}" alt="">
                                        <div class="news-info">
                                            <p><span>Истории</span><span>Пятница - 10:14</span> </p>
                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="news-card">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard1 }}" alt="">
                                        <div class="news-info">
                                            <p><span>Истории</span><span>Пятница - 10:14</span> </p>
                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="news-card">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard1 }}" alt="">
                                        <div class="news-info">
                                            <p><span>Истории</span><span>Пятница - 10:14</span> </p>
                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3 waterfall-second">
                                <div class="news-card-other">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard1 }}" alt="">
                                        <div class="news-info">

                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                            <p><a href="#"><span>читать подробнее</span></a> </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="news-card-other">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard1 }}" alt="">
                                        <div class="news-info">

                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                            <p><a href="#"><span>читать подробнее</span></a> </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="news-card-other">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard1 }}" alt="">
                                        <div class="news-info">

                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                            <p><a href="#"><span>читать подробнее</span></a> </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3 waterfall-second">
                                <div class="news-card-other">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard1 }}" alt="">
                                        <div class="news-info">

                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                            <p><a href="#"><span>читать подробнее</span></a> </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="news-card-other">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard1 }}" alt="">
                                        <div class="news-info">

                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                            <p><a href="#"><span>читать подробнее</span></a> </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="news-card-other">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard1 }}" alt="">
                                        <div class="news-info">

                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                            <p><a href="#"><span>читать подробнее</span></a> </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-sm-6 waterfall-first">
                                <div class="news-card">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard2 }}" alt="">
                                        <div class="news-info">
                                            <p><span>Истории</span><span>Пятница - 10:14</span> </p>
                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="news-card">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard2 }}" alt="">
                                        <div class="news-info">
                                            <p><span>Истории</span><span>Пятница - 10:14</span> </p>
                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="news-card">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard2 }}" alt="">
                                        <div class="news-info">
                                            <p><span>Истории</span><span>Пятница - 10:14</span> </p>
                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3 waterfall-second">
                                <div class="news-card-other">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard2 }}" alt="">
                                        <div class="news-info">

                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                            <p><a href="#"><span>читать подробнее</span></a> </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="news-card-other">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard2 }}" alt="">
                                        <div class="news-info">

                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                            <p><a href="#"><span>читать подробнее</span></a> </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="news-card-other">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard2 }}" alt="">
                                        <div class="news-info">

                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                            <p><a href="#"><span>читать подробнее</span></a> </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3 waterfall-second">
                                <div class="news-card-other">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard2 }}" alt="">
                                        <div class="news-info">

                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                            <p><a href="#"><span>читать подробнее</span></a> </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="news-card-other">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard2 }}" alt="">
                                        <div class="news-info">

                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                            <p><a href="#"><span>читать подробнее</span></a> </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="news-card-other">
                                    <a routerLink="./news-event">
                                        <img src="{{ newsCard2 }}" alt="">
                                        <div class="news-info">

                                            <p>Поколение безграничных
                                                возможностей в Казахстане</p>
                                            <p><a href="#"><span>читать подробнее</span></a> </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>