$underline: '/assets/images/underline.png';
.news-inner-container{
    background: #fff;
}
.news-inner-container__title {
    padding: 0 5%;

    h3 {
        font-weight: bold;
        background: url($underline) no-repeat;
        background-position-x: 100%;
        background-position-y: 88%;
        display: inline-block;
        font-size: 42px;
        margin-bottom: 0;
    }

    p {
        color: #bfbfbf;
        padding-left: 1rem;
    }
}

.news-inner-container__tabs {
    width: 100%;
    padding: 0 5%;

    .nav-item {
        &:first-child .nav-link {
            border-right: none;
        }

        &:last-child .nav-link {
            margin-left: -2px;
        }

    }

    .nav-link {
        display: inline-block;
        padding: 1rem 1.5rem;
        color: #000;
        border: 1px solid #000;
        transition: all .3s;


        &:hover {
            background: #000;
            color: #fff;
            text-decoration: none;
        }
    }

    .nav-tabs {
        border-bottom: none;
        margin-bottom: 5%;
    }

    img {
        width: 100%;
        z-index: 1;
    }

    .news-card {
        position: relative;
        margin-bottom: 5%;


        p {
            margin-bottom: 0;
            color: #fff;
            font-size: 16px;

            span {
                font-size: 12px;

                &:first-child {
                    margin-right: 5%;
                }
            }
        }

        .news-info {
            position: absolute;
            z-index: 2;
            bottom: 0;
            width: 100%;
            padding: 5%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 34%, rgba(0, 0, 0, 0) 80%);
            padding-top: 10%;
        }


    }


    .waterfall-second {
        &:last-child {
            padding-top: 20%;
        }

        .news-info {
            height: 200px;
            padding-top: 2%;
            a{
                &:hover{
                    text-decoration: none;
                }
            }

            p:first-child {
                color: #878787;
            }

            p {
                position: relative;
                display: inline-block;
                span {
                    color: #000;
                    font-weight: bold;

                    &::after{
                        content: "";
                        width: 20px;
                        height: 1px;
                        background: #000;
                        position: absolute;
                        right: -25px;
                        top: 55%;
                    }
                }

            }
        }

        img {
            max-height: 200px;
        }
    }
}

.waterfall-first {
    transition: all .3s;
    animation: waterfall-1 1.6s ease-in-out;
}

.waterfall-second {
    transition: all .3s;
    animation: waterfall-2 2s ease-in-out;
}


@keyframes waterfall-1 {
    from{
        transform: translateX(-115%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes waterfall-2 {
    from{
        transform: translateY(115%);
    }
    to {
        transform: translateY(0%);
    }
}