<div class="news-event-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 px-0">
                    <div class="news-event-container__title" [ngStyle]="styles">
                        <h3>Синдром дауна</h3>
                        <p>The people, the rainforest, the Church</p>
                        <div class="news-event-container__title__body">
                            <h3>Немного о патологии Синдром Дауна.</h3>
                            <p>Слово «синдром» подразумевает наличие определенных признаков или характерных черт. Синдром
                                Дауна
                                впервые описал в 1866 году британский врач Джон Лэнгдон Даун. Почти сто лет спустя, в 1959
                                году,
                                французский ученый Жером Лежен обосновал генетическое происхождение этого синдрома, которое
                                определяется наличием в клетках человека дополнительной хромосомы</p>
                        </div>
                    </div>
    
    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="news-event-container__content">
    
                        <p>Слово «синдром» подразумевает наличие определенных признаков или характерных черт. Синдром Дауна
                            впервые описал в 1866 году британский врач Джон Лэнгдон Даун. Почти сто лет спустя, в 1959 году,
                            французский ученый Жером Лежен обосновал генетическое происхождение этого синдрома, которое
                            определяется наличием в клетках человека дополнительной хромосомы.
    
                            Наличие этой генетической аномалии обуславливает появление ряда особенностей, вследствие которых
                            ребенок будет медленнее развиваться и позже своих ровесников проходить общие для всех детей
                            этапы развития.
    
                            Таким малышам труднее учиться. И все же большинство детей с синдромом Дауна может делать то, что
                            умеют делать другие дети.</p>
                    </div>
                </div>
            </div>
            <div class="row">
    
                <ngu-carousel id="ngCarousel" #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
                    <ngu-tile *nguCarouselDef="let item; let i = index">
    
                        <ngu-carousel id="ngCarousel-content" #myCarousel [inputs]="carouselTile"
                            (carouselLoad)="carouselTileLoad(i)" [dataSource]="carouselTiles[i]">
                            <ngu-tile *nguCarouselDef="let item; let j = index">
                                <div class="tile" [style.background]="'url(' + item + ')'" style="min-height: 200px">
                                    <!-- <h1>{{j}}</h1> -->
                                </div>
                            </ngu-tile>
                            <button NguCarouselPrev class="leftRs"
                                [style.opacity]="myCarousel.isFirst ? 0.5:1">&lt;</button>
                            <button NguCarouselNext class="rightRs"
                                [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button>
                            <!-- <ul class="myPoint" NguCarouselPoint>
                                          <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"
                                            [style.background]="'url(' + carouselTileItems[j] + ')'"></li>
                                        </ul> -->
                        </ngu-carousel>
    
                    </ngu-tile>
                    <!-- <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1">&lt;</button>
                                    <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button> -->
                    <!-- <ul class="myPoint" NguCarouselPoint>
                                      <li *ngFor="let i of myCarousel.pointNumbers; let i = index" [class.active]="i==myCarousel.activePoint" (click)="myCarousel.moveTo(i)"
                                        [style.background]="'url(' + carouselTileItems[i] + ')'"></li>
                                    </ul> -->
                </ngu-carousel>
    
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="news-event-container__content">
                        <p>Слово «синдром» подразумевает наличие определенных признаков или характерных черт. Синдром Дауна
                            впервые описал в 1866 году британский врач Джон Лэнгдон Даун. Почти сто лет спустя, в 1959 году,
                            французский ученый Жером Лежен обосновал генетическое происхождение этого синдрома, которое
                            определяется наличием в клетках человека дополнительной хромосомы.
    
                            Наличие этой генетической аномалии обуславливает появление ряда особенностей, вследствие которых
                            ребенок будет медленнее развиваться и позже своих ровесников проходить общие для всех детей
                            этапы развития.
    
                            Таким малышам труднее учиться. И все же большинство детей с синдромом Дауна может делать то, что
                            умеют делать другие дети.</p>
                    </div>
                </div>
            </div>
            <div class="row ">
    
                <div class="col-sm-6 pl-4">
    
                </div>
                <div class="col-sm-6 pr-4">
                    <img src="{{  imageRight }}" alt="imageRight" srcset="" class="image-left">
                </div>
    
                <div class="col-sm-12">
                    <p class="info--grey-color">Слово «синдром» подразумевает наличие определенных признаков или характерных
                        черт. Синдром Дауна впервые описал в 1866 году британский врач Джон Лэнгдон Даун. Почти сто лет
                        спустя, в 1959 году, французский ученый Жером Лежен обосновал генетическое происхождение этого
                        синдрома, которое определяется наличием в клетках человека дополнительной хромосомы.
    
                        Наличие этой генетической аномалии обуславливает появление ряда особенностей, вследствие которых
                        ребенок будет медленнее развиваться и позже своих ровесников проходить общие для всех детей этапы
                        развития.
    
                        Таким малышам труднее учиться. И все же большинство детей с синдромом Дауна может делать то, что
                        умеют делать другие дети.</p>
                </div>
    
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="news-event-container__content">
                        <h3>Целью проекта является оказание
                            профессиональной психолого-педагогической
                            помощи семьям в которых есть ребенок
                            с синдромом Дауна.</h3>
                        <p>Слово «синдром» подразумевает наличие определенных признаков или характерных черт. Синдром Дауна
                            впервые описал в 1866 году британский врач Джон Лэнгдон Даун. Почти сто лет спустя, в 1959 году,
                            французский ученый Жером Лежен обосновал генетическое происхождение этого синдрома, которое
                            определяется наличием в клетках человека дополнительной хромосомы.
    
                            Наличие этой генетической аномалии обуславливает появление ряда особенностей, вследствие которых
                            ребенок будет медленнее развиваться и позже своих ровесников проходить общие для всех детей
                            этапы развития.
    
                            Таким малышам труднее учиться. И все же большинство детей с синдромом Дауна может делать то, что
                            умеют делать другие дети.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
