$underline: '/assets/images/underline.png';
$ball: '/assets/images/about/about-inner/ballons.png';


.news-event-container{
    background: url($ball), #fff;
    background-repeat: no-repeat;
    background-position-y: 130%;;
    background-position-x: 95%;
    animation: up infinite 10s linear;
}

@keyframes up {
    from{
        background-position-y: 130%;
    }
    to{
        background-position-y: -130%;
    }
}
.news-event-container__title{
    margin-bottom: 5%;
    width: 100%;
    padding: 10% 10%;
    text-align: center;
    color: #ffffff;
    background: rgba($color: #000000, $alpha: .3);
    padding-top: 15%;
    h3 {
        
        font-weight: bold;
        background: url($underline) no-repeat;
        background-position-x: 50%;
        background-position-y: 88%; 
        display: inline-block;
        font-size: 32px;
        margin-bottom: 0;
        z-index: 2;
        // &::before{
        //     content: '';
        //     top: 0;
        //     left: 0;
        //     display: inline-block;
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     background: rgba($color: #000000, $alpha: .3);
        //  }
    }
    .news-event-container__title__body{
        margin-top: 8%;
        h3 {
            font-weight: bold;
            background: none;
            font-size: 14px;
            display: inline-block;
        }
        p{
            padding: 0 15% ;
            margin-top: 1rem;
        }
    }

    
}

.news-event-container__content{
    padding:  0 18%;
     h3{
        margin-top: 5%;
     }
   
}
.info--grey-color{
    margin-top: 5%;
    color: #bfbfbf;
    font-size: 12px;
    padding:  0 18%;
}
.image-left{
    width: 90%;
}


#ngCarousel{
    margin: 3% 0;
    width: 100%;
}