@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";


.glide {
    position: relative;
    overflow: hidden;
    .glide__track {
        height: 100vh;
    }
    img {
        height: 100vh;
        width: 100vw;
    }
}

.logo-welcome--absolute {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 99;
}

.welcome__h2 {
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 99;
    color: #fff;  
    width: 60%;
    font-size: 60px;
    transition: all .3s;
    animation: title 2s;
}

.button-container{
    position: absolute;
    top: 45%;
    left: 5%;
    z-index: 99;
    color: #fff;  
    width: 40%;
    font-size: 60px;
    .button-container__a {
       
    }
}