<div class="welcome__wrapper" wheelOn="integer">
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                <li class="glide__slide">
                    <img src="{{ slide1 }}" alt="slide1">
                </li>
                <li class="glide__slide">
                    <img src="{{ slide2 }}" alt="slide2">
                </li>
                <li class="glide__slide">
                    <img src="{{ slide3 }}" alt="slide3">
                </li>
                <li class="glide__slide">
                    <img src="{{ slide4 }}" alt="slide4">
                </li>
            </ul>
        </div>

    </div>

    <div class="logo-welcome--absolute">
        <img src="{{ logoWelcome }}" alt="logoWelcome">
    </div>

    <h2 class="welcome__h2">
        Caritas: ending poverty,
        promoting justice
        and restoring dignity
    </h2>

    <div class="button-container">
        <div class="button-container__a"></div>
        <div class="button-container__a"></div>
    </div>
</div>