<div class="contacts-container" wheelOn="integer">
    <div class="contacts-header">
        <span>
            <a routerLink="home/contacts/contacts-inner">
                <h2> контакты </h2>
            </a>
        </span>
    </div>
    <div class="contacts-content">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-8" style="z-index: 1">
                <h2>+44 (0)7867 532021</h2>
                <p class="contacts-content__email">support@apidura.com </p>
                <p class="contacts-content__work-time"><span>9am-6pm UK Time Monday-Friday</span></p>
                <p class="contacts-content__sub-comment"><span>Подпишитесь на рассылку</span></p>
                <div class="input-container">
                    <input type="text">
                    <a class="input-container__btn">Подписаться</a>
                </div>
            </div>
        </div>
        <!-- <div class="row contacts-content__footer">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <h2>о нас</h2>
                <a href="">О нас</a>
                <a href="">Конференция</a>
                <a href="">В рк</a>
            </div>
            <div class="col-sm-2">
                <h2>проекты</h2>
                <a href="">ЭКО</a>
                <a href="">ЭКО</a>
                <a href="">Уход</a>
            </div>
            <div class="col-sm-2">
                <h2>как помочь</h2>
                <a href="">Счета</a>
                <a href="">Волонтерство</a>
            </div>
            <div class="col-sm-2">
                <h2>архив</h2>
                <a href="">Видео</a>
                <a href="">Документы</a>
            </div>
        </div> -->
    </div>
    <img src="{{ ball1 }}" alt="" id="ball1">
</div>