$contact-bg: '/assets/images/contacts/contacts-bg.png';
$underline: '/assets/images/underline-big.png';

.contacts-container {

    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url($contact-bg);
    background-size: cover;

    .contacts-header {
        width: 100%;
        height: 10%;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        a{
            color: inherit;
        }

        h2 {
            font-weight: bold;
            background: url($underline) no-repeat;
            background-size: 80% 20%;
            background-position-x: 100%;
            background-position-y: 88%;
            display: inline-block;
            font-size: 48px;
            margin-bottom: 0;
            text-transform: unset;
            transition: all .3s;
            animation: title 2s;
        }
    }
}

span {
    position: relative;
}



.contacts-content {

    margin-top: 10%;

    h2 {
        font-weight: bold;
    }

    .contacts-content__tel{
        animation: tel 2s;
    }

    .contacts-content__email {
        animation: email 3s;
        font-weight: bold;
    }

    .contacts-content__work-time {
        color: #969697;
        animation: time 4s;
    }

    span {
        font-weight: bold;
        text-transform: lowercase;
    }

    .input-container {
        z-index: 1;
        input {
            width: 75%;
            border: none;
            padding: .8rem;
            color: #969697;

            &:focus {
                outline: none;
            }

        }

        .input-container__btn {
            padding: .8rem .8rem;
            background: #212529;
            color: #fff;
            margin-left: -8px;
            border-radius: 7px;
        }
    }

    .contacts-content__sub-comment {
        padding-left: 1.5rem;

        span {
            text-transform: unset;
        }


    }
}

.contacts-content__footer {
    padding-top: 1rem;
    animation: footer 2s;
    h2 {
        width: 100%;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 1rem;

    }

    a {
        width: 100%;
        display: inline-block;
        color: #212529;
        margin-bottom: .8rem;

        &:hover {
            text-decoration: none;
        }
    }
}
#ball1 {
    position: absolute;
    transition: all .3s;
    left: 0%;
    z-index: 0;
    animation: ball1 2s .1s linear;
    transition: all .1s ;
    top: 55%;
}

@keyframes footer {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes email {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes time {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes tel {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}


@keyframes ball1 {
    0% {
        top: -50%;
    }
    25%{
        top: 40%;
    }
    50%{
        top: 80%;
    }
    75%{
        top: 40%;
    }
    100%{
        top: 55%;
    }
}