$charity-bg: '/assets/images/charity/charity-bg.png';
$charity-phone: '/assets/images/charity/charity-phone.png';
$underline: '/assets/images/underline-big.png';
.charity-container {
    color: #252539;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), url($charity-bg), #fff;
    background-size: cover;
    position: relative;
    overflow: hidden;

    
    .charity-header {
        width: 100%;
        height: 10%;
        text-align: center;
        position: relative;
        span {
            position: relative;
        }
    
        h2 {
            font-weight: bold;
            background: url($underline) no-repeat;
            background-size: 80% 30%;
            background-position-x: 100%;
            background-position-y: 88%;
            display: inline-block;
            font-size: 48px;
            margin-bottom: 0;
            text-transform: unset;
            transition: all .3s;
            animation: title 2s linear;
        }
    }
    
    .charity-container__option {
        position: relative;
        border-radius: 7px;
        padding: 1rem;
        margin:  10% 0;
        transition: all .2s;
        &:first-child{
            background: #fff;
            animation: message1 2s ;
            &::before{
               content: "";
               display: inline-block;
               background: #fff;
               width: 15px;
               height: 15px;
               position: absolute;
               left: -15px;
               top: 20px;
               clip-path: polygon(100% 0, 0 0, 100% 100%);
            }
        }
        &:last-child{
            background: #000;
            color: #fff;
            animation: message2 2s ;
            &::after {
                content: "";
                display: inline-block;
                background: #000;
                width: 15px;
                height: 15px;
                position: absolute;
                right: -15px;
                top: 20px;
                clip-path: polygon(0 100%, 0 0, 100% 0);
            }
        }
    }

    .charity-container__wrapper {
        position: absolute;
        height: 420px;
        bottom: 0;
        right: 10%;
        background: url($charity-phone);
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 0;
        background-size: cover;
        padding-top: 9%;
        max-width: 430px;

        .container-phone {
            width: 85%;

            margin: auto;
            text-align: center;

            a {
                display: inline-block;
                color: #252539;
                padding: 1rem 1.5rem;
                width: 100%;
                -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                border-radius: 9px;
                margin: .5rem 0;
                transition: all .3s;

                &:hover {
                    background: red;
                    color: #fff;
                    text-decoration: none;
                }
            }

            input {
                width: 100%;
                border: none;
                background: #f4f4f7;
                height: 3rem;
                padding: 0 1rem;
                border: none;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .charity-container__charity-phone {
        position: absolute;
        height: 60%;
        bottom: 0;
        right: 10%;
    }
}


@keyframes message1 {
    from{
        transform: translateX(-150%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes message2 {
    from{
        transform: translateY(150%);
    }
    to{
        transform: translateY(0%);
    }
}


// @media screen and (min-width: 1400px) {
//     .charity-container {

//         .charity-container__wrapper {
//             height: 57%;
//             padding-top: 12%;
//             max-width: 600px;

//             .container-phone {
//                 input {
//                     margin: 5% 0;
//                 }
//             }
//         }
//     }
// }

// @media (min-width: 1240px) and (max-width: 1399px) {
//     .charity-container {

//         .charity-container__wrapper {
//             height: 71%;
//             padding-top: 12%;
//             max-width: 447px;
//         }
//     }
// }

// @media (min-width: 400px) and (max-width: 1240px) {
//     .charity-container {

//         .charity-container__wrapper {
//             height: 80%;
//             padding-top: 22%;
//             max-width: 420px;

//         }
//     }
// }

// @media screen and (min-width: 2000px) {
//     .charity-container {

//         .charity-container__wrapper {
//             height: 55%;
//             padding-top: 12%;
//             max-width: 500px;

//             .container-phone {
//                 input {
//                     margin: 5% 0;
//                 }
//             }
//         }
//     }
// }

// @media (min-width: 380px) and (max-width: 750px) {
//     .charity-container {

//         .charity-container__wrapper {
//             height: 49%;
//             padding-top: 22%;
//             max-width: 519px;

//         }
//     }
// }

// @media (min-width: 380px) and (max-width: 720px) {
//     .charity-container {

//         .charity-container__wrapper {
//             height: 52%;
//             padding-top: 22%;
//             max-width: 541px;
//             background-size: cover;

//         }
//     }
// }
