<div class="charity-container"  wheelOn="integer">
    <div class="charity-header">
        <span>
            <h2>
                Как помочь </h2>
        </span>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="charity-container__option">
                <h2>Волонтерство</h2>
                <p>Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ как в Казахстане,
                    так и во всем мире. Это означает защиту права детей для .</p>
                <a href="">Вступить в ряды</a>
            </div>
            <div class="charity-container__option">
                <h2>Пожертовать средства</h2>
                <p>Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ как в Казахстане,
                    так и во всем мире. Это означает защиту права детей для .</p>
            </div>
        </div>
    </div>

    <div class="charity-container__wrapper">
        <div class="container-phone">
            <div class="row">
                <div class="col-sm-12 col-md-6"><a href=""> 1 000 тенге</a></div>
                <div class="col-sm-12 col-md-6"><a href=""> 5 000 тенге</a></div>
                <div class="col-sm-12 col-md-6"><a href=""> 10 000 тенге</a></div>
                <div class="col-sm-12 col-md-6"><a href=""> 25 000 тенге</a></div>
                <div class="col-sm-12">
                    <input type="text">
                </div>
                <div class="col-sm-12">
                    <a href="" class="btn-give">Пожертвовать</a>
                </div>
            </div>
        </div>
    </div>


</div>