$charity-phone: "/assets/images/charity/charity-phone.png";
$charity-bg: '/assets/images/charity/charity-bg.png';
$underline: '/assets/images/underline.png';

$quoutes: '/assets/images/quoutes.svg';
$vision: '/assets/images/about/about-inner/vision.png';

$girls: "/assets/images/about/about-inner/mission-bg.png";
$ball: '/assets/images/about/about-inner/ballons.png';

.about-container {
    padding: 0 5%;
    background: #fff;
}

.about-container__title {
    margin-left: 1rem;

    a{
        color: inherit;
    }

    h3 {
        font-weight: bold;
        background: url($underline) no-repeat;
        background-position-x: 2rem;
        background-position-y: 88%;
        display: inline-block;
        font-size: 42px;
        margin-bottom: 0;
        color: inherit;
    }

    p {
        color: #bfbfbf;
        padding-left: 1rem;
    }

    img {
        width: auto;
    }
}


.about-container__gallery {
    img {
        width: 100%;
    }
}

.title__header {
    margin-left: 1rem;
    margin-right: 2rem;
}

.title__text {
    margin-left: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.body__text {
    margin-left: 0rem;
    margin-right: 2rem;
    margin-top: 2rem;

}

.body__title {
    margin-bottom: 3rem
}

.vision-image {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 528px;
}

.container-fluid {
    padding: 0 1rem;
}

.charity-container {
    color: #252539;
    background: linear-gradient(0deg, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), url($charity-bg), #fff;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding: 7% 0;

    .charity-header {
        width: 100%;
        height: 10%;
        text-transform: uppercase;
        text-align: center;
        position: relative;

        span {
            position: relative;
        }

     

        h2 {
            display: inline-block;
            z-index: 1;

            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                width: 96%;
                height: 10px;
                background: red;
                right: -17px;
                bottom: 2px;
                z-index: 0;
            }
        }
    }

    .charity-container__option {
        position: relative;
        border-radius: 7px;
        padding: 1rem;
        margin: 10% 0;

        &:first-child {
            background: transparent;
            margin: 0;
        }

        &:last-child {
            background: #000;
            color: #fff;

            &::after {
                content: "";
                display: inline-block;
                background: #000;
                width: 15px;
                height: 15px;
                position: absolute;
                right: -15px;
                top: 20px;
                clip-path: polygon(0 100%, 0 0, 100% 0);
            }
        }
    }

    .charity-container__wrapper {
        position: absolute;
        height: 420px;
        bottom: 0;
        right: 2%;
        background: url($charity-phone);
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 0;
        background-size: cover;
        padding-top: 11%;
        max-width: 430px;

        .container-phone {
            width: 85%;

            margin: auto;
            text-align: center;

            a {
                display: inline-block;
                color: #252539;
                padding: 1rem 1.5rem;
                width: 100%;
                -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                border-radius: 9px;
                margin: .5rem 0;
                transition: all .3s;

                &:hover {
                    background: red;
                    color: #fff;
                    text-decoration: none;
                }
            }

            input {
                width: 100%;
                border: none;
                background: #f4f4f7;
                height: 3rem;
                padding: 0 1rem;
                border: none;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .charity-container__charity-phone {
        position: absolute;
        height: 60%;
        bottom: 0;
        right: 10%;
    }
}



.wrapper-mission {
    background: url($girls) no-repeat, #f8f8f8;
    background-position-x: 80%;
    background-position-y: 0rem;
    background-size: content;
    padding: 8% 5%;
    position: relative;
    overflow: hidden;
    z-index: 1;

    a {
        text-transform: uppercase;
        padding: .5rem 2.5rem;
        border: 1px solid #000000;
        border-radius: 5px;
        display: inline-block;
        color: inherit;
    }

    p {
        margin-bottom: 5%;
    }

    img {
        position: absolute;

        &:nth-child(1) {
            left: -70px;
            animation: ballon1 infinite 9s 1s ease-in-out;
            z-index: -1;
            top: 20%;
        }

        &:nth-child(2) {
            top: 20%;
            right: -70px;
            animation: ballon2 infinite 9s 2s ease-in-out;
            z-index: -1;
        }
    }
}

@keyframes ballon1 {
    0% {
        top: 20%;
    }

    25% {
        top: 0%;
    }

    50% {
        top: 20%;
    }

    75% {
        top: 0%;
    }

    100% {
        top: 20%;
    }
}

@keyframes ballon2 {
    0% {
        top: 20%;
    }

    25% {
        top: 0%;
    }

    50% {
        top: 20%;
    }

    75% {
        top: 0%;
    }

    100% {
        top: 20%;
    }
}

.wrapper-vision {
    position: relative;
    display: block;
    height: 528px;
    background: url($vision) no-repeat;
    margin-bottom: 10%;

    .absolute-wrapper__note {
        width: 31%;
        background: #fff;
        position: absolute;
        bottom: -11%;
        left: -5%;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
        padding: 3%;

        h2 {
            color: #d4002d;
        }
    }
}

.facts {
    // background: url($quoutes) 0% 0% no-repeat, url($quoutes) 100% 100% no-repeat;
    width: 100%;
    padding: 2% 0;
    position: relative;

    p {
        margin-bottom: 0;
        padding: 0 10%;
        text-align: center;
        font-size: 22px;
        font-weight: bold;

        &::after {
            content: "";
            display: inline-block;
            width: 35px;
            height: 35px;
            background: url($quoutes);
            background-size: contain;
            transform: rotate(180deg);
            position: absolute;
            top: 10px;
            left: 40px;
        }

        &::before {
            content: "";
            display: inline-block;
            width: 35px;
            height: 35px;
            background: url($quoutes);
            background-size: contain;
            position: absolute;
            bottom: 10px;
            right: 40px;
        }
    }
}