<div class="about-container">
    <div class="container-fluid">
        <div class="row">
            <div class="about-container__title">
                <img src="" alt="">
                <a routerLink="home/about/about-inner">
                <h3>О нас</h3>
                </a>
                <p>Our mission is based on nine core principles of Catholic Social Teaching</p>
            </div>
        </div>
        <div class="row">
            <h2 class="title__header">Наша миссия</h2>
        </div>
        <div class="row">
            <p class="title__text">
                Мы вдохновлены Евангелием учением католической церкви и надеждами людей, живущих в нищете. Мы призываем
                каждого отвечать на гуманитарные потребности, продвигать целостному развитию человечества и выступаем за
                причины возникновения бедноты и насилия.

                Мы вдохновляем католические общины и всех людей с благими побуждениями к солидарности ко страданию их
                братьев и сестер по всему миру.

                Мы работаем над тем, чтобы убедить что наша естественная среда управлялась ответственно и бережно в
                интересах всей человеческой семьи.
            </p>
        </div>
        <div class="row about-container__gallery">
            <div class="col-sm-5">
                <img src="{{ aboutLeft }}" alt="">
            </div>
            <div class="col-sm-7">
                <img src="{{ aboutRight }}" alt="">
            </div>
        </div>
        <div class="row">
            <p class="body__text">
                Благодаря успешному партнерству в гуманитарной помощи и для развития и преображения сердец и мыслей в
                обществе, Каритас оказывает помощь в борьбе с бедностью, побуждает справедливость, и исповедует
                благородство. Мы пытаемся отвечать потребностям тех, кто страдает старыми и новыми видами бедности. В то
                же время мы мобилизуем наши человеческие и материальные ресурсы и ресурсы тех кто разделяет с нами наши
                идеи, чтобы сделать наш мир «общим домом» лучшим местом.
            </p>
        </div>
        <div class="row">
            <div class="facts">
                <p>At some point, western civilization made an emotional
                    choice to treat dogs like our best friends</p>
            </div>
        </div>
        <div class="row">
            <div class="wrapper-mission">
                <img src="{{ ballons  }}" alt="">
                <img src="{{ ballons }}" alt="">
                <h2>Наша миссия</h2>
                <p>Мы вдохновлены Евангелием учением католической церкви и надеждами людей, живущих в нищете. Мы
                    призываем каждого отвечать на гуманитарные потребности, продвигать целостному развитию человечества
                    и выступаем за причины возникновения бедноты и насилия.
                    Мы вдохновляем католические общины и всех людей с благими
                </p>
                <a href=""> написать нам </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="body__title">Наше видение</h2>
                <p>
                    Знак любви Бога к человечеству.

                    Мы работаем с людьми всех вероисповеданий и даже теми кто не имеет никакой веры.

                    Каритас стремится к миру, где голоса бедных услышаны и приняты во внимание, где каждый человек может
                    свободно процветать и жить в мире и достоинстве, и где наша естественная среда, данная Богом,
                    управляется ответственно и устойчиво в интересах всего человечества. семьи.
                    «Развитие народов зависит от признания того, что человеческая раса - это одна семья, работающая
                    вместе…» (Папа Иоанн Павел II).
                </p>
            </div>
            <div class="col-sm-12">
                <div class="wrapper-vision">
                    <div class="absolute-wrapper__note">
                        <h2>С любовью</h2>
                        <p>Благодаря успешному партнерству в гуманитарной помощи и для развития и преображения сердец и
                            мыслей в обществе, Каритас оказывает помощь в борьбе с бедностью </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="charity-container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <div class="charity-container__option">

                    </div>
                    <div class="charity-container__option">
                        <h2>Пожертовать средства</h2>
                        <p>Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ как в
                            Казахстане,
                            так и во всем мире. Это означает защиту права детей для .</p>
                    </div>
                </div>
            </div>

            <div class="charity-container__wrapper">
                <div class="container-phone">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"><a href=""> 1 000 тенге</a></div>
                        <div class="col-sm-12 col-md-6"><a href=""> 5 000 тенге</a></div>
                        <div class="col-sm-12 col-md-6"><a href=""> 10 000 тенге</a></div>
                        <div class="col-sm-12 col-md-6"><a href=""> 25 000 тенге</a></div>
                        <div class="col-sm-12">
                            <input type="text">
                        </div>
                        <div class="col-sm-12">
                            <a href="" class="btn-give">Пожертвовать</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="facts">
                <p>At some point, western civilization made an emotional
                    choice to treat dogs like our best friends</p>
            </div>
        </div>
    </div>
</div>