@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

$ball_1: '/assets/images/projects/ball-left.png';
$ball_2: '/assets/images/projects/ball-right-big.png';
$ball_3: '/assets/images/projects/ball-right-sm.png';
$underline: '/assets/images/underline-big.png';


.project-container {
    height: 100vh;
    width: 100%;
    background: url($ball_1) -27% 108% no-repeat, url($ball_2) 93% 91% no-repeat, url($ball_3) 72% 72% no-repeat, #fff;
}



.projects-header {
    width: 100%;
    height: 20%;
    text-transform: uppercase;
    text-align: center;
    position: relative;

    span {
        position: relative;
    }
    a{
        color: inherit;
    }

    h2 {
        font-weight: bold;
        background: url($underline) no-repeat;
        background-size: 80% 30%;
        background-position-x: 100%;
        background-position-y: 88%;
        display: inline-block;
        font-size: 28px;
        margin-bottom: 0;
        text-transform: unset;
        transition: all .3s;
        animation: title 2s;
        // &::after {
        //     content: "";
        //     display: inline-block;
        //     position: absolute;
        //     width: 96%;
        //     height: 10px;
        //     background: red;
        //     right: -17px;
        //     bottom: 2px;
        //     z-index: -1;
        // }
    }
}

.glide-projects {
    height: 47%;
    transition: all .3s;
    animation: slider 1s linear;
}

@keyframes slider {
    from {
        transform: translateX(-150%);

    }

    to {
        transform: translateX(0%);

    }
}

.projects-footer {
    width: 100%;
    height: 33%;
    position: relative;

    a {
        display: inline-block;
        position: absolute;
        bottom: 23%;
        left: 38%;
        color: inherit;
        padding: .5rem 1.5rem;
        border: 1px solid #000;
        border-radius: 7px;
        transition: all .3s;
        animation: btn 1s linear;

        &:hover {
            text-decoration: none;
            transform: scale(1.1);
            ;
        }
    }
}

@keyframes btn {
    from {
        transform: scale(0);

    }

    to {
        transform: scale(1);

    }
}