<div class="project-container"  wheelOn="integer">
    <div class="projects-header">
        <span>
            <a [routerLink]="['/home/projects/projects-inner']">
            <h2 >
                Наши проекты
            </h2>
        </a>
        </span>

        <p>
            Our mission is based on nine core principles of Catholic Social Teaching
        </p>
    </div>


    <div class="glide-projects">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                <li class="glide__slide">
                    <a routerLink="./projects-inner/project">
                        <img src="{{ proj1 }}" alt="proj1">
                    </a>
                </li>
                <li class="glide__slide">
                    <a routerLink="./projects-inner/project">
                        <img src=" {{ proj2 }}" alt="proj2">
                    </a>
                </li>
                <li class="glide__slide">
                    <a routerLink="./projects-inner/project">
                        <img src=" {{ proj3 }}" alt="proj3">
                    </a>
                </li>
                <li class="glide__slide">
                    <a routerLink="./projects-inner/project">
                        <img src=" {{ proj4 }}" alt="proj4">
                    </a>
                </li>
                <li class="glide__slide">
                    <a routerLink="./projects-inner/project">
                        <img src=" {{ proj5 }}" alt="proj5">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="projects-footer">
        <a routerLink="./projects-inner">перейти к проектам </a>
    </div>
</div>