$underline: '/assets/images/underline-big.png';

.news-container {
    background: #fff;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .news-header {
        width: 100%;
        height: 10%;
        text-align: center;
        position: relative;

        span {
            position: relative;
        }

        a {
            color: inherit;
        }

        h2 {
            font-weight: bold;
            background: url($underline) no-repeat;
            background-size: 80% 30%;
            background-position-x: 100%;
            background-position-y: 88%;
            display: inline-block;
            font-size: 42px;
            margin-bottom: 0;
            text-transform: unset;
            transition: all .3s;
            animation: title 2s;
        }
    }

    .news-header-btn {
        text-align: center;

        .nav-item {
            border: none;

            border-right: 2px solid #000;
            border-radius: 0;

            &:last-child {
                border-right: none;
            }
        }

        .news-header-btn__wrapper {
            display: inline-block;
            border: 1px solid #000;
            border-radius: 5px;
            overflow: hidden;
            transition: all .3s;
            animation: onStage 3s linear;
        }

        .news-header-btn__btn-tabs {
            display: inline-block;
            padding: 1rem 2rem;
            color: #000;
            border-right: none !important;
            margin-right: -1px;
            transition: all .3s;

            &:last-child {
                border-right: none;
            }

            &:hover {
                background: #000;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .news-content {
        text-align: center;
        z-index: 1;

        .news-img {
            text-align: center;
            z-index: 1;

            img {
                margin: auto;

            }

            .news-img_target-1 {

                width: 95%;

            }

            .news-img_target-2 {
                width: 95%;

            }

            .news-img_target-3 {
                width: 95%;
            }



            .news-container__article-wrapper {
                margin: 0 5%;
                padding: 2% 0;
                text-align: left;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                transition: all .3s;
                animation: onStage 3s;
                background: #fff;

                p {
                    padding-top: 5%;
                    padding: 0 10%;
                }

                .news-content__read--wrapper {
                    display: inline-block;
                    position: relative;
                    width: 150px;
                }

                .news-content__read {
                    padding: 0 10%;
                    color: #000;
                    font-weight: bold;

                    &:after {
                        content: "";
                        display: inline-block;
                        width: 20px;
                        height: 1px;
                        position: absolute;
                        bottom: 10px;
                        background: #000;
                        right: 0%;
                    }
                }

                img {
                    margin-left: 2.5%;
                }
            }

            .news-container__article-wrapper--box-shadow {
                -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

#ball1 {
    position: absolute;
    transition: all .3s;
    left: -18%;
    z-index: 0;
    animation: ball1 4s .1s linear;
    transition: all .1s;
    top: 35%;
}

#ball2 {
    position: absolute;
    top: 0;
    left: 90%;
    z-index: 0;
    transition: all .3s;
    animation: ball2 4s .3s linear;
    top: 55%;
}

#ball3 {
    position: absolute;
    top: 0;
    left: 60%;
    z-index: 0;
    transition: all .2s;
    animation: ball3 4s .2s linear;
    top: 58%;
}

@keyframes ball1 {
    0% {
        top: -50%;
    }

    25% {
        top: 50%;
    }

    50% {
        top: 100%;
    }

    75% {
        top: 58%;
    }

    100% {
        top: 35%;
    }
}

@keyframes ball2 {
    0% {
        top: -50%;
    }

    25% {
        top: 50%;
    }

    50% {
        top: 100%;
    }

    75% {
        top: 58%;
    }

    100% {
        top: 55%;
    }
}

@keyframes ball3 {
    0% {
        top: -50%;
    }

    25% {
        top: 50%;
    }

    50% {
        top: 100%;
    }

    75% {
        top: 50%;
    }

    100% {
        top: 58%;
    }
}

@keyframes onStage {
    from {
        transform: translateY(200%);
    }

    to {
        transform: translateY(0%);
    }
}