<div class="news-container" wheelOn="integer">
    <div class="news-header">
        <span>
            <a [routerLink]="['/home/news/news-inner']" >
                <h2>
                    Новости
                </h2>
            </a>
        </span>
    </div>
    <div class="news-header-btn">
        <div class="news-header-btn__wrapper">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="news-header-btn__btn-tabs nav-link active" id="home-tab" data-toggle="tab" href="#home"
                        role="tab" aria-controls="home" aria-selected="true">Казахстан</a>
                </li>
                <li class="nav-item">
                    <a class=" news-header-btn__btn-tabs nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                        role="tab" aria-controls="profile" aria-selected="false">Мир</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="news-content">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 news-img">
                        <div class="news-container__article-wrapper">
                            <img src="{{ babyImg }}" alt="" class="news-img_target-1">
                            <div class="first-column__article">
                                <p>Обеспечение равных возможностей для детей – </p>
                                <div class="news-content__read--wrapper">
                                    <a routerLink='/home/news/news-inner/news-event' class="news-content__read">Читать далее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 news-img">
                        <div class="news-container__article-wrapper ">
                            <div class="second-column__article">
                                <p>
                                    Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ
                                    как в
                                    Казахстане, так и во всем мире. Это означает
                                </p>

                            </div>
                            <img src="{{ boyImg }}" alt="" class="news-img_target-2">
                            <div class="second-column__article">
                                <p>
                                    Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ
                                    как в
                                    Казахстане, так и во всем мире. Это означает
                                </p>
                                <div class="news-content__read--wrapper">
                                    <a routerLink='/home/news/news-inner/news-event' class="news-content__read">Читать далее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 news-img">
                        <div class="news-container__article-wrapper news-container__article-wrapper--box-shadow">
                            <img src="{{ manImg }}" alt="" class="news-img_target-3">
                            <div class="third-column__article">
                                <p>
                                    Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ
                                    как в
                                    Казахстане, так и во всем мире. Это означает
                                </p>
                                <div class="news-content__read--wrapper">
                                    <a routerLink='/home/news/news-inner/news-event' class="news-content__read">Читать далее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 news-img">
                        <div class="news-container__article-wrapper">
                            <img src="{{ babyImg }}" alt="" class="news-img_target-1">
                            <div class="first-column__article">
                                <p>Обеспечение равных возможностей для детей – </p>
                                <div class="news-content__read--wrapper">
                                    <a routerLink='/home/news/news-inner/news-event' class="news-content__read">Читать далее</a>
                                </div>ng
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 news-img">
                        <div class="news-container__article-wrapper ">
                            <div class="second-column__article">
                                <p>
                                    Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ
                                    как в
                                    Казахстане, так и во всем мире. Это означает
                                </p>

                            </div>
                            <img src="{{ boyImg }}" alt="" class="news-img_target-2">
                            <div class="second-column__article">
                                <p>
                                    Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ
                                    как в
                                    Казахстане, так и во всем мире. Это означает
                                </p>
                                <div class="news-content__read--wrapper">
                                    <a routerLink='/home/news/news-inner/news-event' class="news-content__read">Читать далее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 news-img">
                        <div class="news-container__article-wrapper news-container__article-wrapper--box-shadow">
                            <img src="{{ manImg }}" alt="" class="news-img_target-3">
                            <div class="third-column__article">
                                <p>
                                    Обеспечение равных возможностей для детей – одна из самых важных задач для ЮНИСЕФ
                                    как в
                                    Казахстане, так и во всем мире. Это означает
                                </p>
                                <div class="news-content__read--wrapper">
                                    <a routerLink='/home/news/news-inner/news-event' class="news-content__read">Читать далее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </div>
    <img src="{{ ball1 }}" alt="" id="ball1">
    <img src="{{ ball2 }}" alt="" id="ball2">
    <img src="{{ ball3 }}" alt="" id="ball3">
</div>